.wrapper {
  max-width: 340px;
  max-height: 360px;
  padding: 16px 0;
  color: rgba(22, 24, 35, 0.75);
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    left: 4px;
    right: 8px;
    top: 0;
    height: 1px;
    background: rgba(22, 24, 35, 0.12);
    -webkit-transform: scaleY(0.5);
    -moz-transform: scaleY(0.5);
    -ms-transform: scaleY(0.5);
    transform: scaleY(0.5);
  }
}
