.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-spacer: 9px;
  --search-button-width: 52px;

  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  background-color: var(--white);
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.inner {
  height: 100%;
  width: var(--default-layout-width);
  padding: 0 var(--default-layout-horizontal-spacer);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-link {
  display: flex;
}
// action
.action {
  display: flex;
  align-items: center;
}
.action-btn {
  display: flex;
  align-items: center;
  background-color: transparent;
  color: #161823;
  padding: 4px 6px;
  font-size: 22px;
  cursor: pointer;
  svg {
    margin: 2px 2px;
  }
  .badge {
    position: absolute;
    top: 7px;
    margin-left: 18px;
    padding: 0px 6px;
    height: 20px;
    line-height: 20px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 600;
    color: var(--white);
    font-family: var(--font-family);
    background-color: var(--primary);
  }
}
.more-btn {
  font-size: 20px;
  margin-left: 24px;
  padding: 4px 8px;
  background: transparent;
  cursor: pointer;
}
.user-avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 10px;
  cursor: pointer;
}

.custom-login {
  color: red;
}
